* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  background-color: #252525;
  min-height: 100vh;
  width: 100%;
  color: #64dfdf;
}

header {
  width: 100%;
}

header h1 {
  text-align: center;
  padding: 3rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 10.68rem);
}

.container-word {
  color: white;
  font-size: 5rem;
  text-align: center;
}

#hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#head {
  border: solid #ef4f4f 0.25rem;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  transform: 300ms ease-in-out;
}

#body,
#legs {
  display: flex;
  justify-content: center;
  
}

#left_arm,
#left_leg {
  background-color: #ef4f4f;
  height: 0.2rem;
  width: 7.5rem;
  transform-origin: 100%;
  transform: rotate(-45deg);
  transform: 300ms ease-in-out;
}

#waist {
  background-color: #ef4f4f;
  width: 0.2rem;
  height: 9.5rem;
  transform: 300ms ease-in-out;
}

#right_arm,
#right_leg {
  background-color: #ef4f4f;
  height: 0.2rem;
  width: 7.5rem;
  transform-origin: 0%;
  transform: rotate(45deg);
  transform: 300ms ease-in-out;
  opacity: 1;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input {
  background-color: #252525;
  border: none;
  border-bottom: 0.25rem solid white;
  margin: 1rem;
  color: white;
  text-align: center;
  font-size: 3rem;
  width: 30%;
  font-family: "Press Start 2P", cursive;
}


#submit{
    border: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: "Press Start 2P", cursive;
    background-color: #252525;
    border: 0.1rem white solid;
    color: #64dfdf
}

#input:focus{
    outline: none;
}

@media screen and (max-height: 700px),(max-width: 700px){
    .container-word {
        font-size: 2rem;
    }
    header h1{
        padding: 1rem;
    }
    #left_arm,
    #left_leg {
      width: 3rem;
      height: 0.2rem;
    }
    #right_arm,
    #right_leg {
      width: 3rem;
      height: 0.2rem;
    }
    #head {
      width: 4rem;
      height: 4rem;
    }
    #waist {
      width: 0.2rem;
      height: 5rem;
    }
    #input {
      font-size: 2rem;
    }
}